!pip install recordlinkage

https://dbs.uni-leipzig.de/de/research/projects/object_matching/benchmark_datasets_for_entity_resolution

In [1]:
import warnings
warnings.filterwarnings("ignore")
from recordlinkage.preprocessing import clean, phonetic
import pandas as pd
import numpy as np
import os

In [1]:
def normalize(data):
    """ Normalize unicode data in Python to remove umlauts, accents etc. Return doublemetaphone """
    normal = unicodedata.normalize('NFKD', data).encode('ASCII', 'ignore')
    val = normal.decode("utf-8")
    val = val.lower()
    # remove special characters
    val = re.sub('[^a-z]+', '', val)
    return val

In [2]:
dir = '/Users/galvanize/infosys/cip/leipzig-data-linkage/data/nc_data'
file0 = 'ncvr_numrec_1000000_modrec_2_ocp_20_myp_0_nump_5.csv'
file1 = 'ncvr_numrec_1000000_modrec_2_ocp_20_myp_1_nump_5.csv'

In [19]:
df0 = pd.read_csv(os.path.join(dir,file0), index_col='recid')
df1 = pd.read_csv(os.path.join(dir,file0), index_col='recid')

In [20]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 7852009 to 6586215
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   givenname  999928 non-null  object
 1   surname    999980 non-null  object
 2   suburb     999953 non-null  object
 3   postcode   999942 non-null  object
dtypes: object(4)
memory usage: 38.1+ MB

In [37]:
df0.loc[:,'suburb_clean'] = phonetic(clean(df0['suburb']), method='metaphone')

In [38]:
df1.loc[:,'suburb_clean'] = phonetic(clean(df0['suburb']), method='metaphone')

In [48]:
df0['suburb_clean'].value_counts()

XRLT          81160
RL            51535
KRNSBR        34519
TRHM          31382
WNSTNSLM      27456
              ...
HPLT              1
EPKS              1
FRKJ              1
PLSFNTKRTN        1
KNPLSS            1
Name: suburb_clean, Length: 8340, dtype: int64

In [41]:
df0.loc[:,'givenname_clean'] = phonetic(clean(df0['givenname']), method='metaphone')
df0.loc[:,'surname_clean'] = phonetic(clean(df0['surname']), method='metaphone')
df1.loc[:,'givenname_clean'] = phonetic(clean(df1['givenname']), method='metaphone')
df1.loc[:,'surname_clean'] = phonetic(clean(df1['surname']), method='metaphone')

In [42]:
df0

,givenname,surname,suburb,postcode,suburb_clean,givenname_clean,surname_clean
recid,,,,,,,
7852009,kadelyn,gragnani,waxhaw,28|73,WKSH,KTLN,KRKNN
3138435,ronel,carter,washington,2788g,WXNKTN,RNL,KRTR
6117295,jason,roehrig,millers ceeek,286s1,MLRSSK,JSN,RRK
6401695,antrea,mure,greensboro,27410,KRNSBR,ANTR,MR
5202204,caedar,oliver,jacksonville,28542,JKSNFL,KTR,OLFR
...,...,...,...,...,...,...,...
6614741,virginia,angle,charlotte,28205.0,XRLT,FRJN,ANKL
2840680,james,stone,eden,27288.0,ETN,JMS,STN
5781566,rebecca,allen,willow springs,27592.0,WLSPRNKS,RBKK,ALN
1737677,julie,cummings,fremont,27830.0,FRMNT,JL,KMNKS
6586215,lewis,sutton,aberdeen,28315.0,ABRTN,LWS,STN

In [43]:
df0['givenname_clean'].value_counts()

JN        27134
JMS       18513
MXL       17856
TN        16591
MR        14835
          ...
SLL0          1
NNSKML        1
JFSTR         1
ELMSLM        1
KRLNF         1
Name: givenname_clean, Length: 17259, dtype: int64

In [44]:
df0['givenname'].value_counts()

james        18232
william      14093
robert       13735
john         13651
michael      13442
             ...
delbrecco        1
taiysha          1
jameena          1
shabrea          1
keane            1
Name: givenname, Length: 76769, dtype: int64

In [ ]:
df0['surname_clean'].value_counts() == 1

In [46]:
df0['surname'].value_counts()

smith                 12014
williams               9313
johnson                8526
jones                  8299
brown                  6933
                      ...
boxce                     1
fuentes de arriaga        1
etcho                     1
gilcreast                 1
fristoe                   1
Name: surname, Length: 134895, dtype: int64